.background-login
{
    
    background: #066dab; /* Old browsers */
    background: -moz-linear-gradient(top, #045181 0%, #8abbd7 69%, #c5deea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #045181 0%,#8abbd7 69%,#c5deea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #045181 0%,#8abbd7 69%,#c5deea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=0 ); /* IE6-9 */
    color : white;
}

.body-content
{
    background-image: url('../images/fondo.jpg');
}

.input-login
{
    display:block;
    width:80%;
    height:40px;
    padding:.375rem .75rem;
    font-size:14px;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:10px;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-login:focus
{
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}

.input-body
{
    display:block;
    width:100%;
    height:40px;
    padding:.375rem .75rem;
    font-size:14px;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:10px;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-body:focus
{
    color:#495057;
    background-color:#fff;
    border-color:#80bdff;
    outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}

.btn-body
{
    color: #fff;
    background-color: #045181;
    border-color: #045181;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
}
.title-space-login
{
    padding-top: 25px;
}

.btn-login
{
    color: #fff;
    background-color: #045181;
    border-color: #045181;
    width: 80%;
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
}
.has-error
{
    color : #c7002d;
}

.center-field
{
    left: 50%;
}

.content-login
{
    padding-top: 15%;
    
}

.left-align 
{
    float: left;
}

.panel-user-left
{
    height: 100%;
    width: 15%;
    background-color: #c5deea;
}

.content-page
{
    width: 100%;
}

.black-letter
{
    color:black;
}

.panel-header-form
{
    color: #fff;    
    background-color: #777777;
    border-color: #1b1a1a;padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}

.panel-titles
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}

.picture_perfil
{
    width: 35%;    
    margin: auto;
}

#flash-msg .alert
{
    margin-top: 60px;
}

.agenda-inspector
{
    vertical-align: top !important;
}

.panel-heading
{
    color: #73879C !important;
    background-color: transparent !important;
}

.dataTable:not(.fixedHeader-floating)
{
    width: 100% !important;
    margin-bottom: 20px !important;
}

.dataTables_wrapper .row .col-sm-12{
    padding-right: 10px;
    padding-left: 10px;
}

table.dataTable.nowrap th, table.dataTable.nowrap td{
    white-space: normal;
}

.dataTables_info{
    white-space: normal !important;
}

.title-modal
{
    font-size: 24px;
}

.content-btn
{
    display:flex;
    justify-content:center;
}

.swal2-popup.swal2-toast
{
    font-size: 1.3em !important;
}

.swal2-popup.swal2-modal.swal2-show
{
    font-size: 1.1em !important;
}

.formSlide
{
    margin-top: 12px;
}

/* Para que el body no se contraiga cada vez que se muestra un modal */
.pr-0
{
    padding-right: 0px !important;
}

.fc-toolbar.fc-header-toolbar
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fc-right
{
    order: 3;
}

.fc-center
{
    order:2;
    flex: 1;
    display: flex !important;
    justify-content: center;
}

.input-date
{
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.has-error .input-body
{
    border-color: #a94442;
}

.input-group-addon
{
    background-color: #eee !important;
    cursor:pointer;
}

.date-range-inputs input{
    text-align: center;
} 

.date-range-inputs input:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.date-range-inputs input:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr.child ul.dtr-details{
    width: 100%;
}
tr.child ul.dtr-details li{
    border-color: #dddddd !important;
}
@media (max-width: 590px), (min-width:      px) and (max-width: 1125px)
{
    .fc-center
    {
        order:3;
        text-align: center;
    }

    .fc-toolbar.fc-header-toolbar
    {
        flex-direction: column;
        align-items: center;
    }

    .fc-right
    {
        margin: 10px 0 10px 0;
    }

    .fc-toolbar .fc-header-toolbar div:first
    {
        background-color: red;
    }
}

@media (max-width: 360px)
{
    .fc-more-cell{

        font-size: .8em;
    }
}

/* Icon Picker */

.oculto
{
    width:100%;
    background:#f2f2f2;
    border-radius:0 0 10px 10px;
    padding:10px;
    overflow:auto;
    max-height:200px;
    display:none
}

.oculto ul
{
    display:inline;
    float:left;
    width:100%;
    margin:0;
    padding:0
}

.oculto ul li {
    margin:0;
    padding:0;display:block;
    width:30px;height:30px;
    text-align:center;
    font-size:15px;
    font-family:"fontawesome";
    float:left;
    cursor:pointer;
    color:#666;
    line-height:30px;
    transition:0.2s all
}

.oculto ul li:hover 
{
    background:#FFF;
    color:#000
}

.input-group .input-body
{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

.picker .input-group-addon
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font: normal normal normal 14px/1 FontAwesome;
}

.icon-menu
{
    vertical-align: top;
}